#row-conatiner { padding: 20px; }

#row-1 { display: flex; padding: 10px; }
#row-2 { display: flex; padding: 10px; }
#row-3 { display: flex; padding: 10px; }
#row-4 { display: flex; padding: 10px; }
#row-5 { display: flex; padding: 10px; }
#row-6 { display: flex; padding: 10px; }

#row-1-letter-1 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-1-letter-2 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-1-letter-3 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-1-letter-4 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-1-letter-5 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }

#row-2-letter-1 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-2-letter-2 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-2-letter-3 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-2-letter-4 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-2-letter-5 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }

#row-3-letter-1 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-3-letter-2 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-3-letter-3 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-3-letter-4 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-3-letter-5 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }

#row-4-letter-1 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-4-letter-2 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-4-letter-3 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-4-letter-4 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-4-letter-5 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }

#row-5-letter-1 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-5-letter-2 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-5-letter-3 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-5-letter-4 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-5-letter-5 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }

#row-6-letter-1 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-6-letter-2 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-6-letter-3 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-6-letter-4 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
#row-6-letter-5 { height:100px; width: 100px; border: 2px solid #000000; padding-left: 10px; }
